code/pipeline/glove/
code/pipeline/glove_github/
code/pipeline/.idea/
code/pipeline/output/
code/pipeline/preprocessed_corpora/
code/pipeline/preprocessed_corpus/
code/pipeline/raw_corpus/
code/pipeline/temp/
code/taxogen/
papers/
notes/
latex/
*.idea/
*/__pycache__/
pipeline/corpora/
pipeline/
glove/
relation_extraction_and_universal_schemas/
code/other_scripts/.ipynb_checkpoints/
.ipynb_checkpoints/
evaluation/